aiohttp==3.6.2
aiosqlite==0.15.0
async-timeout==3.0.1
asyncio==3.4.3
asyncpg==0.21.0
attrs==20.2.0
chardet==3.0.4
click==7.1.2
Flask==1.1.2
idna==2.10
iso8601==0.1.13
itsdangerous==1.1.0
Jinja2==2.11.2
loguru==0.5.3
MarkupSafe==1.1.1
multidict==4.7.6
PyPika==0.42.1
tortoise-orm==0.16.16
typing-extensions==3.7.4.3
Werkzeug==1.0.1
yarl==1.6.0